body.home {
  background-color: #E8E6E2;
  margin: 0;
  font-family: "Akzidenz-Grotesk BQ", sans-serif;
  overflow-x: hidden;
}

body.illustration {
  background: #E8E6E2;
  margin: 0;
  font-family: "Akzidenz-Grotesk BQ", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-color, #c9a8f1);
  transition: background-color 0.3s linear;
}

body.design {
  background-color: #E8E6E2;
  margin: 0;
  font-family: "Akzidenz-Grotesk BQ", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* --- HEADER --- */
.mainHeader, .navLink, .overlay a {
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
}

.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0 0 0;
  gap: 3rem;
}

.navLeft, .navRight {
  display: flex;
  gap: 2rem;
}

.navLeft {
  margin-right: -1rem;
}

.navRight {
  margin-left: -1rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}

.navLink:hover {
  opacity: 0.6;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px; 
  z-index: 101;
}

.logoSvg {
  height: 3.5rem;
  width: auto;
  display: block;
}

.menu-icon {
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}

/* MENÚ OVERLAY */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #614CFF;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100vw; 
  text-align: left;
  padding: 0;
}

.overlay a {
  padding: 16px 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.overlay .closebtn {
  position: initial;
  top: 20px;
  font-size: 3rem;
  cursor: pointer;
}

.separator {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  margin: 0;
}

/* --- CABECERA --- */
/* --- TÍTULO Y SUBTÍTULO PRINCIPAL --- */
.cabeceraSeccion {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    margin: 12rem auto -6rem auto;
    padding: 0 2rem;
    gap: 20px;
    width: 100%;
}

.titularCabecera {
    margin-bottom: 0; 
}

.tituloPrincipal, 
.subtituloPrincipal {
    letter-spacing: -1px;
}

.tituloPrincipal {
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.1;
  white-space: nowrap;
}

.subtituloPrincipal {
  font-size: 3.5rem;
  color: #614CFF;
  margin: 0;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
}

/* --- HOME --- */

.heroContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.video-mobile {
    display: none;
}

.menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    padding: 6rem 15%;
    max-width: 1300px;
    margin: 0 auto;
}

.menuItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; 
}

.card {
    background-color: #614CFF;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    text-decoration: none;
}

.cardWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.3s ease-out;
    will-change: transform;
}

.menuItem:hover .cardWrapper {
    transform: rotate(-5deg) scale(0.9);
}

.cardShape {
    width: 100%;
    height: auto;
    display: block;
}

.cardTitle {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    margin: 0;
    z-index: 12;
}

.card h2 {
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: lowercase;
    margin: 0;
}

.handVector {
    position: absolute;
    width: 120%;
    min-width: 900px;
    height: auto;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
}

.hand-design, .hand-about {
    left: -20%;
    transform-origin: 0% 50%; 
}

.hand-illustration, .hand-contact {
    right: -20%;
    transform-origin: 100% 50%;
}

.hand-illustration {
    width: 130%;
}

.hand-about {
    width: 130%;
}

.hand-contact {
    width: 130%;
}

/* --- FILTROS --- */
.controlesPortafolio {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.filtroCategorias {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 6px;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.itemFiltro {
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #614CFF;
  border-radius: 50px;
  color: #614CFF;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: lowercase;
  transition: 0.3s ease;
}

.itemFiltro.activo {
  background-color: #614CFF;
  color: white;
}

.itemFiltro:not(.activo):hover {
  background-color: rgba(97, 76, 255, 0.05);
}

/* --- ILUSTRACIÓN  --- */
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: grid;
  padding-bottom: 8rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.column-right {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: end; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: 0;
    gap: 200px; 
}

.column-right .art {
    width: 100%;
    height: auto;
}

.art {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  position: relative;
  display: block;
  will-change: transform;
}

.art3, .art5, .art9, .art11, .art15, .art18, .art21, .art24, .art27, .art30, .art35, .art36, .art39, .art41, .art42 {
  z-index: 10;
}

.row:nth-child(even) .art {
  margin-top: -60px;
}

.row:nth-child(odd) .art {
  margin-bottom: -40px;
}

/* --- DISEÑO --- */
.oculto {
    display: none !important;
}

.cuadriculaProyectos {
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.itemProyecto {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.imagenProyecto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.itemProyecto:hover .imagenProyecto {
    transform: scale(0.5);
}

/* --- ABOUT --- */
/* Estilos para la página de detalles */
.proyecto-intro {
    padding: 120px 10% 60px;
    max-width: 1200px;
}

.proyecto-intro h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 0.9;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.descripcion-proy {
    font-size: 1.2rem;
    max-width: 700px;
    line-height: 1.5;
}

.bloque-full img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}

.bloque-doble {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.bloque-doble img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.bloque-texto {
    padding: 80px 10%;
    max-width: 800px;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* --- ABOUT --- */
.about-hero {
    background-color: #E8E6E2;
    padding: 3rem 0;
    margin-bottom: -6rem;
    display: flex;
    align-items: center;
}

.hero-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.hero-image {
    flex: 0 0 40%;
  }

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-image img {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: bottom center; 
}

.hero-image img:hover{
    transform: rotate(5deg);
}

.hero-text {
    flex: 0 0 50%; 
}

.hero-text h1 {
    font-size: 3.5rem;
    line-height: 0.95;
    color: #614CFF;
}

.about-journey {
    background-color: none;
    color: #000;
    padding: 80px 5%;
}

.journey-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journey-header h2 {
    font-size: 3.5rem;
    max-width: 800px;
    line-height: 1.1;
}

.journey-icon img {
    width: 120px;
}

.journey-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 60px;
}

.journey-col h3 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.journey-col p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #614CFF;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

/* FOOTER */
.footerPortfolio {
    background-color: #E8E6E2;
    border-top: 1px solid #000;
    padding: 120px 5% 40px 5%;
    position: relative;
    overflow: hidden;
}

.footerContainer {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 40px;
}

.footerText {
    flex: 0 0 70%; 
    text-align: left;
}

.footerTitle {
    font-size: 3rem;
    line-height: 0.95;
    margin: 0;
    color: #000;
    margin: 0;
}

.footerLink {
    display: block;
    font-size: 3rem;
    color: #614CFF;
    text-decoration: none;
    margin: 0;
}

.footerArrow {
    background-color: #614CFF;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.footerArrow span {
    display: block;
    transform: translateY(-3px); 
}

.footerArrow:hover {
    transform: scale(1.2) rotate(-15deg);
    background-color: #4a39cc;
}

.footerImage {
    flex: 0 0 45%; 
    display: flex;
    justify-content: flex-end;
    margin-left: -2rem;
}

.footerImage img {
    width: 100%;
    height: auto;
    margin-top: -100px;
}

.footerBottom {
    max-width: 1200px;
    margin: -6rem auto 0 auto;
    font-family: 'Akzidenz-Grotesk BQ', sans-serif;
    font-size: 0.85rem;
    line-height: 1.4;
    color: #333;
}

.footerBottom p {
    margin: 2px 0;
}

.footerImage img {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: bottom center; 
}

.footerImage img:hover {
    transform: rotate(-5deg);
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {

  .desktop-only { display: none !important; }

  html, body {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

  .desktop-only {
    display: none;
  }

  .mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background: transparent;
  }

  .mainNav {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .desktop-only { display: none; }

  .menu-icon {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1002;
    color: #000;
  }

  .logo {
    display: block;
    z-index: 1001;
  }

  .logoSvg {
    height: 3.5rem;
    width: auto;
    display: block;
  }
  
  .heroContainer {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none; 
  }
    
  .video-mobile {
    pointer-events: auto; 
  }

  .video-desktop {
    display: none !important;
  }

  .video-mobile {
    display: block !important;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .titular, .gallery, .controlesPortafolio, .cuadriculaProyectos {
    padding-left: 1rem; 
    padding-right: 1rem;
    max-width: 100%;
  }

  .cabeceraSeccion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12rem;
    margin-bottom: -8rem;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .tituloPrincipal {
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    white-space: normal; 
    overflow: visible;
  }

  .subtituloPrincipal {
    font-size: 1.8rem;
    line-height: 1;
    color: #614CFF;
    margin-top: -0.5rem;
    text-align: left; 
    width: 100%;
    white-space: normal;
    overflow: visible;
  }

  .menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 4rem 1rem;
    width: 100%;
    box-sizing: border-box;
  }
    
  .cardTitle {
    font-size: 1.6rem !important;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    white-space: normal;
    line-height: 1;
  }
    
  .handVector {
    display: none;
  }

  .gallery {
    padding-top: 9rem;
    margin: 0 auto;
    overflow: visible;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important; 
    gap: 10px;
    align-items: start;
    overflow: visible;
  }

  .row img:not(:only-child) {
    width: 140%;
    max-width: none;
    height: auto;
  }

  .row img:nth-child(2) {
    margin-left: -20%;
  }

  .row img:nth-child(3) {
    margin-left: -40%;
  }

  .row img:only-child {
    grid-column: 1 / span 3;
    width: 100%;
    margin: 0 auto;
  }

  .controlesPortafolio {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }

  .filtroCategorias {
    justify-content: flex-start;
    gap: 8px;
  }

  .itemFiltro {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.9rem;
    border: 1px solid #614CFF;
    border-radius: 50px;
    background-color: transparent;
    color: #614CFF;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    flex-shrink: 0; 
  }

  .itemFiltro.activo {
    background-color: #614CFF;
    color: #fff;
  }

  .cuadriculaProyectos {
    padding-top: 2rem;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .itemProyecto {
    aspect-ratio: 1 / 1;
  }

  .itemProyecto:first-child {
    grid-column: span 1;
  }

  .hero-container { flex-direction: column; text-align: center; }

  .hero-image {
    margin-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: -4rem;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 .5rem 3rem .5rem;
    }

  .journey-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .journey-header h2 {
    display: none
  }

  .journey-grid { grid-template-columns: 1fr; gap: 40px; }

  .footerPortfolio {
    display: block;
    position: relative;
    z-index: 2;
    background-color: #E8E6E2;
    padding: 60px 5% 30px 5%;
    text-align: center;
  }
  
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .footerText {
    flex: auto;
    width: 100%;
  }

  .footerTitle { 
    font-size: 2rem; 
    line-height: 1;
  }

  .footerLink { 
    font-size: 1.5rem; 
    display: block;
  }
    
  .footerImage {
    flex: auto;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footerImage img {
    margin-top: -2rem;
    width: 70%;
    max-width: 300px;
    height: auto;
    transform: none !important;
  }
  
  .footerBottom {
    margin: 0 auto 0 auto;
    font-size: 0.8rem;
    padding-bottom: 2rem;
  }

  .footerArrow { 
    display: none !important; 
  }
}